absl-py
anyascii
anyio
appnope
apricot-select
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-generator
attrs
backcall
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
comm
contourpy
contractions
cv
cycler
debugpy
decorator
defusedxml
dill
dlib
exceptiongroup
executing
face-recognition
face-recognition-models
fastjsonschema
filelock
Flask
flatbuffers
fonttools
fqdn
future
gast
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
gunicorn
h11
h5py
idna
install
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
keras
kiwisolver
libclang
llvmlite
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
node
nose
notebook
notebook_shim
numba
numpy
oauthlib
odict
opencv-python
opt-einsum
outcome
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
platformdirs
plumber
pomegranate
prometheus-client
promise
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyahocorasick
pyasn1
pyasn1-modules
pycparser
Pygments
pyparsing
pyrsistent
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rsa
scikit-learn
scipy
seaborn
selenium
Send2Trash
six
sniffio
sortedcontainers
soupsieve
stack-data
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-datasets
tensorflow-estimator
tensorflow-macos
tensorflow-metadata
termcolor
terminado
textsearch
threadpoolctl
tinycss2
torch
tornado
tqdm
traitlets
trio
trio-websocket
typing_extensions
tzdata
Unidecode
urduhack
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
wsproto
zope.component
zope.deferredimport
zope.deprecation
zope.event
zope.hookable
zope.interface
zope.lifecycleevent
zope.proxy
